!!! XML
%rss{version: "2.0"}
  %channel
    %title Bellroy Press Links
    %item
      %title If you travel with a passport, you need this
      %link http://travel.usatoday.com/alliance/flights/boardingarea/post/2012/03/Flying-With-Fish---Has-Bellroy-Designed-A-Perfect-Travel-Wallet/641750/1
    %item
      %title Australian Wallet Company Reinvents the Wallet
      %link http://www.core77.com/blog/object_culture/carrying_things_part_2_bellroys_quest_to_shrink_the_wallet_19475.asp
    %item
      %title If you travel with a passport, you need this
      %link http://travel.usatoday.com/alliance/flights/boardingarea/post/2012/03/Flying-With-Fish---Has-Bellroy-Designed-A-Perfect-Travel-Wallet/641750/1
    %item
      %title The one accessory every traveler needs
      %link http://travel.usatoday.com/alliance/flights/boardingarea/post/2012/03/Flying-With-Fish---Has-Bellroy-Designed-A-Perfect-Travel-Wallet/641750/1
    %item  
      %title This Australian Wallet Company Has Nailed Their Packaging
      %link http://www.thedieline.com/blog/2011/2/23/bellroy.html
    %item
      %title Is this the world's best travel wallet?
      %link http://travel.usatoday.com/alliance/flights/boardingarea/post/2012/03/Flying-With-Fish---Has-Bellroy-Designed-A-Perfect-Travel-Wallet/641750/1
    %item
      %title The one accessory every traveler needs
      %link http://travel.usatoday.com/alliance/flights/boardingarea/post/2012/03/Flying-With-Fish---Has-Bellroy-Designed-A-Perfect-Travel-Wallet/641750/1
    %item
      %link http://www.core77.com/blog/object_culture/carrying_things_part_2_bellroys_quest_to_shrink_the_wallet_19475.asp
      %title Discover the Australian Company That's Reinventing the Wallet
    %item
      %link http://theduanewells.com/2012/12/in-the-bag-must-have-travel-accessories/
      %title In The Bag: Must Have Travel Accessories